Bottleneck==1.2.1
certifi==2019.3.9
chainer==6.0.0
chardet==3.0.4
filelock==3.0.12
idna==2.8
logzero==1.5.0
mecab-python3==0.996.2
numpy==1.16.4
pandas==0.24.2
protobuf==3.7.1
pyknp==0.4.1
python-dateutil==2.8.0
pytz==2019.1
requests==2.22.0
scipy==1.3.0
six==1.12.0
slackbot==0.5.3
slacker==0.13.0
typing==3.6.6
typing-extensions==3.7.2
urllib3==1.25.8
websocket-client==0.44.0